.currency-container {
    width: 60%;
    height: auto;
    min-height: 400px;
    background-color: #333 !important;
    color: #fff !important;
    font-family: 'Quicksand' !important;
    margin: 40px;
    opacity: 0.97;
}

h3 {
    font-weight: 400;
    text-align: center;
}

hr {
    margin: 0;
    border-color: rgb(161, 161, 161)
}

.total-value-line {
    display: flex;
    justify-content: flex-end;
    padding: 15px 50px
}

.add-coin {
    cursor: pointer;
    text-align: center;
    width: 12%;
    align-items: center;
    color: #e67e22;
    text-shadow: 0 0 35px #e67e22;
    z-index: 100;
    border-radius: 5px;
    padding: 0 10px;
    margin: 15px auto;
}

.fa {
    /* margin: 0 5px 0 0; */
}

.coin-container {
    display: flex;
    align-items: center
}

.coin-avatar {
    width: 28px;
    height: auto;
    margin-right: 12px
}

/* -----------TABLE STYLES----------- */

.table-row {
    color: #fff !important;
}

.table-row:hover {
    background-color: rgb(65, 65, 65)
}