.currency-container {
  width: 60%;
  height: auto;
  min-height: 400px;
  background-color: #333 !important;
  color: #fff !important;
  font-family: 'Quicksand', sans-serif !important;
  margin: 40px;
  opacity: 0.97;
}
h3 {
  font-weight: 400;
  text-align: center;
}
hr {
  margin: 0;
  border-color: #a1a1a1;
}
.total-value-line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 15px 50px;
}
.add-coin {
  cursor: pointer;
  text-align: center;
  width: 12%;
  -ms-flex-align: center;
      align-items: center;
  color: #e67e22;
  text-shadow: 0 0 35px #e67e22;
  z-index: 100;
  border-radius: 5px;
  padding: 0 10px;
  margin: 15px auto;
}
.coin-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.coin-avatar {
  width: 28px;
  height: auto;
  margin-right: 12px;
}
/* -----------TABLE STYLES----------- */
.table-row {
  color: #fff !important;
}
.table-row:hover {
  background-color: #414141;
}
.buy-sell-button .fa {
  font-size: 140%;
  margin-left: 25px;
  cursor: pointer;
}
